* {
  margin: 0;
  padding: 0;
  border: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;
  
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.background {
  background: url('./public/background.jpg');
  background-attachment: fixed;
  
  width: 100%;
  height: 24vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 100%);
}

.background-shadow {
  filter: drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.25));
}

.sticky-top-right {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;

  padding: 0;
  margin: 0;
}

.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
}